.grid-item{
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3 - 4px);
  height: 96px !important;
  margin: 0;
}
.grid-item ion-icon{
  font-size: 32px;
}
.grid-item span{
  font-size: 14px;
  font-weight: 500;
  color: #777;
  display: flex;
  margin-top: 0.5rem;
  text-transform: capitalize !important;
  letter-spacing: normal;
}

ion-select{
  font-weight: bold;
  color: #333;
}